
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dkt-blue:#022840;
  --dk-blue: #025373;
  --dk-cyan:  #025E73;
  --cyan:  #037F8C;
  --white: #F2F2F2;
  --lt-gray: #E8E9EB;
  --dk-gray: #CCCDC6;
  --dkt-gray: #ACADA8;


  /* === my font families === */
  --font-body: 'Open Sans',  sans-serif;
  --font-heading: 'Playfair Display', Georgia, serif;

  --fwb: 700;
}


/*==== THESE ARE MY COLORS ====*/
.clr-dkt-blue{color: var(--dkt-blue);}
.clr-dk-blue{color: var(--dk-blue);}
.clr-dk-cyan{color: var(--dk-cyan);}
.clr-cyan{color: var(--cyan);}
.clr-white{color: var(--white);}
.clr-lt-gray{color: var(--lt-gray);}
.clr-dk-gray{color: var(--dk-gray);}
.clr-dkt-gray{color: var(--dkt-gray);}
.svg-fill{fill: var(--white);}

/* ==== THESE ARE MY BACKGROUND COLORS ==== */
.bkg-dkt-blue{background-color: var(--dkt-blue);}  /*lt stands for "light"*/
.bkg-dk-blue{background-color: var(--dk-blue);}    /*dk stands for "dark"*/
.bkg-dk-cyan{background-color: var(--dk-cyan);}     /*dkt stands for "darkest"*/
.bkg-cyan{background-color: var(--cyan);}
.bkg-white{background-color: var(--white);}
.bkg-lt-gray{background-color: var(--lt-gray);}
.bkg-dk-gray{background-color: var(--dk-gray);}
.bkg-dkt-gray{background-color: var(--dkt-gray);}

.fh{font-family: var(--font-heading);}
.fb{font-family: var(--font-body);}
.fwb{font-weight: var(--fwb);}
.bd{border: 2px solid red;}

body,html{
  background-color: var(--white);
  font-family: 'Open Sans', monospace sans-serif; 
  line-height: 1.5;
  box-sizing: border-box;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  text-rendering: optimizeLegibility;
  min-height: 100svh;
  overflow-x: hidden;
}

h1 {
  background: linear-gradient(45deg, var(--dkt-blue), var(--dk-cyan), var(--cyan)); /* Gradient background */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* For non-Webkit browsers */
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  font-size: clamp(2rem, 5vw, 3.5rem); 
  font-family: var(--font-heading);
  position: relative;
  animation: moveIn 1.3s ease;
}
h2{
  font-size: clamp(.8rem, 5vw, 1.1rem); 
}

h3{
  font-size: clamp(.7rem, 5vw, 1rem); 
}

@keyframes moveIn{
  from {
    transform: translateX(-100vw);
  }
  to{
    transform: translateX(0);
  }
}

p {
  font-size: clamp(1rem, 2.5vw, 1.25rem); 
}

small {
  color: var(--dkt-gray);
  font-size: clamp(.8rem, 1.5vw, .9rem); 
}


.flex { display: flex; }
.flex-center { justify-content: center; align-items: center; }
.align-center{align-items: center;}
.flex-column { flex-direction: column; }
.justify-content{ justify-content: space-between;}

button{
  padding: .6em 2em; 
  border-radius: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  font-weight: 700;
}

button:active,
button:focus{
  opacity: .7;
}

image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  padding-inline: .5em .7em;
  font-family: 'Nunito';
  box-shadow:  5px 5px  5px var(--dkt-gray);
}

nav ul{
  list-style: none;

  align-items: center;
}

nav ul li{
  margin-inline: .5em;
}

nav ul li a{
  text-decoration: none;
  display: flex;
  text-align: center;
  padding: .5em 1em;
  color: var(--dkt-gray);
  font-size: clamp(1rem, 1.5vw, 1.5rem); 
  transition: all 200ms ease-in;
}

nav ul li a:hover{
  color: var(--white);
}

.sign-up-btn:hover{
background-color: var(--cyan);
color: white;
border: 1px solid var(--white);
transform: scale(1.000000001);
}

/*  */
.wattsapp-us-logo{
  height: 50px;
  width: 50px;
  position: absolute;
  right: 2em;
  bottom: 5em;
  cursor: pointer;
}

/*  */

header{
  display: grid;
  place-items: center;
}

.container{
  width: 95%;
  margin-inline: auto;
  height: inherit;
  box-sizing: border-box;
 height: fit-content;
  padding-top: 1em;

}

.top-two-row-content{
  justify-content: space-between;
}

.main{
  width: 50%;
  line-height: 1.2;
  box-sizing: border-box;
  padding: 1em;

}

.web-name{
  display: block;
}

.my-into-text{
  font-size: clamp(1rem, 2.5vw, 1.25rem); 
   
}

.landing-pg-img-box{
  width: 40%;
  border-radius: 1rem;
}

.lp-btn-box{
  text-align: center;
  padding: .5em;
}

.get-started-btn{
  background: linear-gradient(135deg, var(--dkt-blue), var(--dk-cyan), var(--cyan));
 color: white;
}

.get-started-btn:hover {
  background: linear-gradient(135deg, var(--dk-cyan), var(--cyan), var(--dkt-blue)); /* Slightly reversed gradient on hover */
  transform: scale(1.05); /* Slight scale-up effect on hover */
  border: 1px solid var(--dkt-blue); /* White border on hover */
}

/* ==== mobile ===== */
.mobile-nav{
  height: 2.5rem; 
  width: 2.5rem; 
  border: 3px solid var(--white); 
  border-radius: 50%;
  padding: .3em;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
}

.mobile-togle-img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  fill: var(--white);
}

.section-1{
  background-color: #ACADA8;
  flex-direction: column;
  padding: 1.5em;
}

.sct-1-cnts-lyt {
  justify-content: space-between;
  height: 7rem;

}

.how-nums{
  text-align: center;
  font-size: clamp(.8rem, 5vw, 1.5rem);
  max-width: 70px;
  padding: .8em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.num-title-cont{
align-items: start;

}

.sct-1-title{
  align-self:center;
  height: fit-content;
}

.sc-1-info{
  max-width: 30rem;
  width:  100%;
  align-content: end;
  text-align: end;
  height: 100%;
}

@media (max-width: 49rem) {
  .desktop-links{
    display: none;
  }
  nav{
    border-bottom: 3px solid var(--white);
    padding: 1em 1.5em;
  }

  /* === csss for my mobile navigations */
  .mobile-nav{
    z-index:999;
    border: 3px solid var(--white);
    width:fit-content;
    height: 40px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5em;
    top: 2.35em;
    background-color: var(--cyan);
  }

  .mobile-nav button {
    background-color: var(--cyan);
    border: 2px solid var(--white);
    color: var(--white);
    font-weight: var(--fwb);
  }
  
  
  button {
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    font-size: .7rem;
    cursor: pointer;
  }
  
  .btn-2{
    position: absolute; 
    top: 2.4rem;
    z-index: 2;
    right: -.51rem;
    transition: all 250ms ease-in-out;
  }
  
  .master-btn{
    position: absolute;
    top:2.4rem;
    right: -.51rem;
    z-index: 6;
    background-color: red;
  }
  
  .btn-3{
    position: absolute;
    top: 2.4rem;
    right: -.51rem;
    z-index: 4;
    transition: all 500ms ease-in-out;
  }
  
  .btn-4{
    position:absolute;
    top: 2.4rem;
    right: -.51rem;
    z-index: 5;
    transition: all 1200ms ease-in-out;
  }


  header{
    
    align-items: start;
  }

  .top-two-row-content {
    flex-direction: column;
  }
  .main{
    width: 100%;
   text-align: start;
  }

  .landing-pg-img-box{
    width: 85%;
    margin-inline: auto;
    
  }

  /* section==== 1 */
  .sct-1-cnts-lyt{
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .how-nums{
    text-align: center;
    font-size: clamp(.8rem, 5vw, 1.5rem);
    max-width: 70px;
    display: flex;
    padding: .3em .8em;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  
  .sct-1-title{
    margin-left: 0em; 
    margin-top: 0em;
    align-content: center;
  }
  
  .sc-1-info{
    max-width: 100%;
    width:  100%;
    align-content: center;
    text-align: center;
   
  }

  .num-title-cont{
    width: 100%;
    justify-content: center;
  }
  
}